#field{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: aliceblue;
}

#field input{
    margin: .5rem;
    height: 1.5rem;
}
